/** EasyWeb */

body {
    /*background-image: linear-gradient(-180deg, #1a1454 0%, #0e81a5 100%);*/
    background-image: url("../images/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-wrapper, body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home-header{
    width: 100%;
    float: left;
    text-align: center;
    height: 119px;
    background:url("../images/home_title.png") no-repeat;
    background-position: center;
    /*background-size:100%;*/
}

.home-body{
    position: relative;
    width: 100%;
    text-align: center;
}
.home-body #main {
    position: relative;
    /*width: 990px;*/
    width: 1380px;
    height:484px;
    margin: 265px auto;
}

.home-body #pre {
    position: absolute;
    width: 47px;
    left: 0;
    top:0;
    /*height: 34px;*/
    /*top:221px;*/
    height: 100%;
    background:url("../images/pre_dis.png") no-repeat;
    background-position: center;
}
.home-body #pre:hover{
    cursor: pointer;
    background:url("../images/pre.png") no-repeat;
    background-position: center;
}
.home-body #item {
    width: 1014px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.home-body #item .sys-content{      
    height: 484px;
    transition:  all 1s;
}
.sys-dot-list{
    height: 8px;
    width:70px;
    position: absolute;
    top:560px;
    left:calc(50% - 35px);
}
.sys-dot-list .sys-dot{
    width:50px;
    height: 8px;
    border-radius: 10px;
    background-color:rgba(9,191,255,.48);
    float: left;
    margin-right: 20px;
}
.sys-dot-list .sys-dot.active{
    background-color:#00DEFF;
    transition:  all 1s;
}
.sys-content ul {
    width: 1014px;
    height: 100%;    
    float: left;
}
.sys-content ul li{
    width:322px;
    height: 230px;
    background: url('../images/item_normal.png') no-repeat;
    background-position: center;
    float: left;
    margin-right: 24px;
    margin-top:24px;
    cursor: pointer;
    position: relative;
}
.sys-content ul li .icon{
    width:88px;
    height: 88px;
    margin:50px auto;
}
.sys-content ul li .name{
    width:100%;
    text-align: center;
    font-size: 18px;    
    color:rgba(9,191,255,.48);
    position: absolute;
    bottom: 20px;
    font-family: "微软雅黑"
}
.sys-content ul li.disable{
    background: url('../images/item_lock.png') no-repeat;
    background-position: center;
    cursor: not-allowed;
}
.sys-content ul li.active{
    background: url('../images/item_active.png') no-repeat;
    background-position: center;
}
.sys-content ul li.active .name{
    color:#00DEFF;
}
.sys-content ul li:nth-child(-n+3){
    margin-top:0;
}
.sys-content ul li:nth-child(3n){
    margin-right:0;
}
.home-body #next {
    position: absolute;
    width: 47px;
    right: 0;
    top:0;
    /*height: 34px;
    top: 221px;*/
    height: 100%;
    background:url("../images/next_dis.png") no-repeat;
    background-position: center;
}
.home-body #next:hover{
    cursor: pointer;
    background:url("../images/next.png") no-repeat;
    background-position: center;
}

.home-body #right {
    position: absolute;
    right: 0px;
    height: 518px;
    width: 118px;
    top: 0;
    background-image: url("../images/home_right.png");
    background-repeat: no-repeat;

}

#home-right-nav{
    margin: 70px 17px;
}

#home-right-nav li {
    width: 88px;
    height: 80px;
    background-image: url("../images/home_right_item.png");
    background-repeat: no-repeat;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #079DFF
}
#home-right-nav .profile_pic{

}
#home-right-nav .profile_pic img{
    border-radius: 50%;
    width: 50%;
    background: #f2f2f2;
    /* margin-left: 15%; */
    z-index: 1000;
    position: inherit;
    margin-top: 15px;
    border: 1px solid rgba(52,73,94,.44);
    padding: 4px;
}

#home-right-nav .span-img {
    width: 100%;
    height: 30px;
    display: block;
    padding-top: 20px;
}

#item ul li{
    
}
