/** EasyWeb */

body {
    /*background-image: linear-gradient(-180deg, #1a1454 0%, #0e81a5 100%);*/
    background-image: url("../images/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-wrapper, body, html {
    height: 100%;
}


.login-wrapper {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.login-body {
    padding: 10px 10px 40px 10px;
}


.login-body > .layui-card {
    max-width: 360px;
    margin: 0 auto;
}

.login-body .layui-card-header {
    font-weight: 700;
    font-size: 15px;
}

.login-body .layui-form-pane .layui-form-label {
    width: 48px;
}

.login-body .layui-form-pane .layui-input-block {
    margin-left: 0 !important;
    width: 340px;
}

.login-body .login-captcha {
    width: 100%;
    cursor: pointer;
}

.login-body .login-other > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
}

.login-body .login-other .layui-icon {
    position: relative;
    top: 2px;
    font-size: 26px;
}

.login-body .login-other a:hover {
    opacity: .8;
}

.login-body .layui-form-item{
    height:50px !important;
}
.login-body .layui-form-pane .layui-form-label{
    padding-right: 5px!important;
    padding-left: 5px!important;
    height: 100%;
    width: 48px;
    position: absolute;
    background-color: transparent;
    border: none;
    line-height: 30px;
}
.login-body .layui-form-pane .layui-form-label .layui-icon{
    color: #079dff;
    font-size: 28px;
}


.login-body .layui-form-item .layui-inline{
    margin-bottom: 0 !important;
    margin-right: 24px !important;
}
.login-body .layui-input{
    height: 48px;
    border: none!important;
    background-image: url('../images/login_input_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    font-size: 18px;
    color: #eee;
    padding-left: 48px !important;
}

.login-body .layui-btn {
    background-image: url('../images/login_btn.png') !important;
    height: 48px !important;
    width: 160px !important;
    font-size: 18px !important;
}

.layui-icon-login-qq {
    color: #3492ED
}

.layui-icon-login-wechat {
    color: #4DAF29
}

.layui-icon-login-weibo {
    color: #CF1900
}

/** 底部样式 */
.login-footer {
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7) !important;
    padding-bottom: 20px;
}

.login-footer span {
    padding: 0 5px
}

.login-footer a {
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.7) !important;
}

.login-footer a:hover {
    color: rgba(255, 255, 255, 0.4) !important;
}

/** 头部样式 */
.login-header {
    width:100%;
    padding: 0;
    /*float: left;*/
    margin-top: 275px;
    text-align: center;
    height: 68px;
    background:url("../images/login_title.png") no-repeat;
    background-position: center;
}

/*.login-header img {*/
    /*height: 40px;*/
/*}*/

/** 移动设备样式 */
@media screen and (min-height: 590px) {
    .login-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (min-height: 670px) {
    .login-body {
        padding: 40px 10px 40px 10px;
        text-align: center;
    }
}

/** 辅助样式 */
.layui-link {
    color: #029789 !important;
}

.layui-link:hover {
    opacity: .8;
}

.pull-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.osc_git_box {
    background-color: #fff;
    margin-top: 20px;
}


canvas {
    /*position:relative;*/
    z-index:-999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}